body {
  margin: 20px 85px 50px 85px;
}

.restart-btn {
  background: #7069ce;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 30%;
}
.restart-btn:hover {
  background: #938cf0;
}
/* KEYBOARD */

.keyboard-row .key-col {
  flex: 0 0 calc(100% / 7);
  max-width: calc(100% / 7);
}

.key {
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #7069ce;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.key:hover {
  background: #938cf0;
}

.hangman-box {
  text-align: center;
  margin-bottom: 20px;
}

.hangman-box img {
  max-width: 800px;
  width: 100%;
  min-height: 300px;
}
.word-box {
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.letter-box {
  text-align: center;
  font-size: 1.5em;
  border: 2px solid black;
  min-height: 300px;
  border-radius: 10px;
}

.letter-box h5 {
  margin-top: 20px;
}